:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #101010 !important;
  font-family: "bpgarialcaps", sans-serif !important;
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1070px !important;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 800px !important;
  }
}

@media (max-width: 1024px) {
  .barber-checkbox .row {
    justify-content: center !important;
  }

  .barber-checkbox .btn {
    margin-bottom: 1em !important;
  }

  .text-area {
    margin-top: -3.5em !important;
  }

  .barber-service label {
    font-size: 11px !important;
  }
}

.booking-date {
  margin-top: 11px !important;
}

@media (max-width: 426px) {
  .barber-service label {
    font-size: 15px !important;
  }
}

@media (max-width: 758px) {
  .booking-date {
    margin-top: 9em !important;
  }

  .booking-form textarea {
    margin-top: 1em !important;
  }

  .booking-title h1 {
    font-size: 30px !important;
  }

  .booking-solid {
    width: 264px !important;
  }
}

@media (max-width: 426px) {
  .booking-section {
    background-size: 250% !important;
  }
}

@media (max-width: 321px) {
  .barber-service label {
    font-size: 13px !important;
  }
}

.App {
  background-color: #101010;
  flex-grow: 1;
}

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.rbc-event {
  background-color: #cf814d !important;
  border: 1px solid #cf814d !important;
}

.rbc-event:hover,
.rbc-event:active,
.rbc-event:visited,
.rbc-event:focus {
  background-color: #2c1d13 !important;
  border: 1px solid #cf814d !important;
}

.from-modal input::placeholder {
  color: #fff !important;
}

.variant {
  background-color: red !important;
}

.form-body {
  margin-top: -3em !important;
}

/* @media (max-width:769px) {
  .booking-section {
    background-position: 0px 0% !important;
  }
} */

.barber-name {
  margin-top: 11em;
}

.barber-checkbox .btn {
  margin-bottom: 1em !important;
}

.text-area {
  margin-top: 1em !important;
}

form .btn-primary {
  background-color: #4b2c185b !important;
  border-color: #663f24 !important;
}

.d-inline label {
  font-size: 8px !important;
}

form .btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #2c1d13 !important;
  border-color: #663f24 !important;
}

.btn-modal {
  background-color: #cf814d !important;
  border: #cf814d 1px solid !important;
  border-radius: 1px !important;
}

.booking-form input {
  max-height: 2.8em !important;
  padding: 1em;
}

.booking-form label {
  font-size: 12px;
  color: #ffffff65;
  height: 2.5em;
}

.booking-form .form-floating input {
  min-height: 2.8em !important;
  padding: 1em !important;
}

.flatpickr-current-month {
  display: none !important;
}

.my-radio {
  min-width: 65px;
  font-size: 12px !important;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  /* background-color: #cf814d !important; */
  color: white;
  padding: 5px !important;
  margin: 0 8px 8px 0;
  border: none !important;
  border-radius: 1px !important;
  letter-spacing: 1.2px;
}

.my-radio:hover {
  background-color: #cf814d !important;
}

.booking-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.booking-title h1 {
  font-size: 48px;
  color: #fff !important;
}

.booking-section {
  background-image: url("../img/booking-cover.jpg");
  background-color: #cccccc;
  height: 375px;
  background-position: 50% 32%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-image: fill 0
    linear-gradient(0deg, rgb(16, 16, 16) 0%, rgba(255, 255, 255, 0) 15%);
}

.booking-solid {
  position: relative;
  border-top: 1px solid #cf814d;
  /* width: 200px; */
  width: 441px;
  clear: both;
  margin: 22px auto;
  margin-bottom: 40px;
}

.booking-solid:before {
  background: none repeat scroll 0% 0% #cf814d;
  content: "";
  height: 10px;
  left: 0%;
  margin: -5px auto auto -5px;
  position: absolute;
  transform: rotate(-45deg);
  width: 10px;
}

.booking-solid:after {
  background: none repeat scroll 0% 0% #cf814d;
  content: "";
  height: 10px;
  right: 0%;
  margin: -5px auto auto -5px;
  position: absolute;
  transform: rotate(-45deg);
  width: 10px;
}

.booking-form h2 {
  color: #fff !important;
}

.booking-form textarea {
  margin-top: 5.8em;
  border-radius: 1px;
}

.booking-form input {
  border-radius: 1px;
}

/* .booking-form button {
  background-color: #cf814d !important;
  border-radius: 1px;
  border: 1px solid #cf814d;
} */
.primer button {
  background-color: rgb(3, 85, 161) !important;
  border: 1px solid rgb(3, 85, 161) !important;
}

h2.solid {
  position: relative !important;
  font-size: 22px;
}

.solid {
  position: relative !important;
  margin-bottom: 20px !important;
  margin-top: 30px !important;
}

h2::after {
  content: "";
  position: absolute !important;
  border-bottom: 1px solid #70492f !important;
  top: 14px !important;
  margin-left: 10px !important;
  width: 30px !important;
}

.form-select {
  background-color: #101010 !important;
  color: rgb(182, 182, 182) !important;
  border: 1px solid #663f24 !important;
}

.booking-form label::after {
  position: absolute;
  inset: 1rem 0.375rem;
  z-index: -1;
  height: 1.5em;
  top: 50;
  content: "";
  background-color: #10101000 !important;
  color: rgb(226, 226, 226) !important;
}

.barber-service h3 {
  background-color: #70492f;
  width: 100%;
  color: #fff;
  padding: 5px 15px 2px 15px;
  font-size: 16px;
  letter-spacing: 2px;
}

.booking-form .barber-service .form-group {
  margin-bottom: -0.6em !important;
}

.barber-service label {
  color: #a8a5a8;
}

.barber-service input[type="checkbox"]:checked {
  background: #cf814d !important;
  opacity: 1 !important;
  background: none;
  cursor: pointer;
  line-height: 0;

  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 15px;
  width: 15px;
  -webkit-appearance: none;
  opacity: 0.5;
}

.barber-service label {
  font-size: 15px;
  padding-left: 1em;
  cursor: pointer;
}

#contact_form input[type="checkbox"] {
  border: solid 1px #cf814d;
  background: none;
  cursor: pointer;
  line-height: 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 15px;
  width: 15px;
  -webkit-appearance: none;
  opacity: 0.5;
}

.form-floating {
  color: rgb(182, 182, 182) !important;
  margin-top: -1em !important;
}

.form-floating label {
  padding-top: 7px !important;
  color: #eee;
}

.form-control {
  background-color: #101010 !important;
  color: rgb(182, 182, 182) !important;
  border: 1px solid #663f24 !important;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
  display: none !important;
}

.barber-radio input[type="radio"],
.de_form input[type="checkbox"] {
  display: none;
}

.barber-radio img {
  width: 100%;
  height: 140px !important;
  padding: 3px;
  opacity: 1;
  background: #cf814d;
  cursor: pointer;
  object-fit: cover;
}

.barber-radio input[type="radio"] + label,
.barber-radio input[type="checkbox"] + label {
  padding: 0px;
  position: relative;
  background: none;
  width: 20%;
  float: left;
  text-align: center;
  margin-right: 5%;
}

/* .from-inputs label {
  background-color: #101010 !important; */

/* HIDE RADIO */
.barber-radio label {
  padding: 0px;
  position: relative;
  background: none;
  width: 20% !important;
  float: left;
  text-align: center;
  margin-right: 5%;
  color: #c0c0c0 !important;
}

.barber-radio [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.barber-radio [type="radio"] + img {
  padding: 0px;
  position: relative;
  background: none;
  width: 100% !important;
  float: left;
  text-align: center;
  margin-right: 5%;
  cursor: pointer;
  height: 200px;
}

/* CHECKED STYLES */
.barber-radio [type="radio"]:checked + img {
  outline: 3px solid #cf814d !important;
}

.barber-checkbox .btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: #fff !important;
  background-color: #cf814d !important;
}

.hours-checkbox .btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  background-color: #cf814d !important;
}

.hours-checkbox .btn-check:disabled + .btn,
.btn-check[disabled] + .btn {
  color: #ffffff56;
}

.hours-checkbox h2 {
  margin-top: 2.5em !important;
  position: relative;
}

.hours-checkbox label {
  font-size: 12px !important;
  color: #a8a5a8;
  position: relative;
}

.tooltiptext {
  display: none;
  width: 120px !important;
  background-color: #70492f !important;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin: 0.5em;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

#tooltip-disabled {
  margin-bottom: 0.7em !important;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #70492f transparent transparent transparent;
}

.d-inline:hover .tooltiptext {
  display: block !important;
}

.flatpickr-input {
  background-color: #101010;
  border-color: #663f24 !important;
  outline: none;
  border: 1px solid;
  color: white;
  width: 100%;
  height: 50px;
}

.example-custom-input {
  width: 100% !important;
  background-color: #00000000 !important;
  border-color: #663f24 !important;
  border: 1px solid #663f24 !important;
  border-radius: 1px !important;
  padding: 0.5em;
  color: #cccccc !important;
  cursor: pointer;
}

form button {
  color: #fff !important;
  background-color: #cf814d !important;
}

.modal-content {
  background-color: #101010 !important;
  color: #fff !important;
  border: 1px solid #101010 !important;
}

.modal-content .form-control {
  color: #fff !important;
}

.btn-close {
  color: #fff !important;
  background-color: #663f24 !important;
}

.modal-input {
  width: 100%;
  padding: 5px;
  background-color: #101010 !important;
  color: rgb(182, 182, 182) !important;
  border: 1px solid #663f24 !important;
}

.modal-header {
  border: none !important;
}

.modal-footer {
  border: none !important;
}

.rbc-calendar {
  border: 1px solid #05030200 !important;
}

.rbc-month-view {
  border: 1px solid #05030200 !important;
}

.rbc-row-content {
  border-top: 1px solid #70492f60;
}

.rbc-btn-group button:hover,
.rbc-btn-group button:active,
.rbc-btn-group button:visited,
.rbc-btn-group button:focus {
  background-color: #cf814d !important;
  border: 1px solid #cf814d00 !important;
}

.rbc-btn-group button {
  color: #fff !important;
  border: 1px solid #05030200 !important;
  background-color: #2c1d13 !important;
}

.calendar {
  height: 100vh;
  background-color: #181818;
  color: #fff;
}

.rbc-today button {
  background-color: #181818;
}

.rbc-events-container {
  background-color: #181818;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: #cf814d !important;
  border: 1px solid #2c1d13 !important;
}

.rbc-month-row {
  flex-basis: 144px !important;
}

.calendar-form input {
  border-radius: 1px !important;
}

.calendar-form select {
  border-radius: 1px !important;
}

.calendar-form input:read-only {
  color: #cccccc !important;
}

.rbc-day-bg {
  background-color: #181818 !important;
  border: 1px solid #70492f00;
  color: #ffffff;
}

.rbc-day-bg + .rbc-day-bg {
  border: 1px solid #70492f00 !important;
  color: #ffff !important;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #70492f60 !important;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-top: 1px solid #70492f60 !important;
}

.rbc-header + .rbc-header {
  border-bottom: 1px solid #70492f60 !important;
  background-color: #181818 !important;
}

.rbc-events-container {
  background-color: #181818 !important;
}

.rbc-time-content > * + * > * {
  border-left: 1px solid #70492f !important;
}

.rbc-header {
  border: 1px solid #70492f00 !important;
}

.rbc-month-header {
  background-color: #70492f !important;
  border-bottom: 1px solid #70492f60 !important;
  color: #ffffff;
}

.rbc-date-cell {
  color: #ffffff !important;
  padding: 1em;
}

.rbc-time-view {
  border: 1px solid rgba(255, 0, 0, 0) !important;
}

.rbc-time-content {
  border: 1px solid #70492f60 !important;
}

/* Day */
.rbc-agenda-table {
  border: 1px solid #70492f60 !important;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 1px solid #70492f60 !important;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #70492f60 !important;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f700 !important;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0px !important;
}

/* .rbc-row-bg {
  border: 1px solid #cf814d !important;
} */
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  vertical-align: middle !important;
}

.offcanvas {
  background-color: #363636 !important;
  color: #fff !important;
}

.canvase-dropdown button {
  width: 100%;
  border-radius: 1px;
  height: 42px;
}

.offcanvas-header {
  border-bottom: 1px solid #cf814d;
}

.notification {
  cursor: pointer;
}

.notification:hover {
  background-color: #707070 !important;
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
  display: none;
}

.notification-underline ul {
  text-decoration: none;
  list-style: none;
}

.rbc-agenda-table td {
  cursor: pointer !important;
}

.btn-focusable {
  color: #fff !important;
  background-color: #70492E !important;
}

input[type="checkbox"]:focus-visible, .btn-focusable:focus {
  outline: 2px solid #0077cc !important;
  outline-offset: 2px !important;
}

@media (max-width: 426px) {
  .rbc-day-bg {
    height: 100% !important;
  }

  .rbc-month-row {
    flex-basis: 110px !important;
  }

  .rbc-event {
    font-size: 12px !important;
  }

  .rbc-overlay {
    width: 100% !important;
    top: 2171.31px !important;
    left: -1.7660000000000196px !important;
  }

  .rbc-date-cell {
    padding: 10px;
  }
}

/* .langs img {
  border: 1px solid red;

  width: 100px !important;
  height: 100px !important;
} */

.w-lg-75 {
  width: 95% !important;
}

@media (max-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }
}

.create-booking {
  height: 100vh;
}
